.banner {
  height: 100px;
  background-color: #fbbb1d;
  background-image: url('/assets/img/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
