@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: colors.$BT_RED;
  background-color: colors.$BT_WHITE;
  border: 1px solid colors.$BT_RED;
  border-radius: 10px;

  &.xsmall {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }

  &.small {
    width: 40px;
    height: 20px;
    font-size: 8px;
    font-weight: bold;
  }

  &.normal {
    width: 75px;
    height: 40px;
    font-size: 14px;
    border-radius: 25px;
  }

  &.large {
    width: 108px;
    height: 40px;
    font-size: 14px;
    border-radius: 25px;
  }

  &:hover {
    opacity: 0.7;
  }

  &.primary {
    color: colors.$BT_WHITE;
    background-color: colors.$BT_RED;
  }

  &.secondary {
    color: colors.$BT_RED;
    background-color: colors.$BT_WHITE;
    border: 1px solid colors.$BT_RED;
  }

  &.addBtn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: levels.$ADD_BTN;
    transform: translateX(-50%);
  }
}
