$WHITE: #ffffff;
$BLACK: #000000;

$BG_WHITE: #fefefe;
$BG_G: #f7f8fa;

$TEXT_PRIMARY: #333333;
$TEXT_SECONDARY: #909090;
$TEXT_WHITE: #fefefe;
$TEXT_HILIGHT: #bc3939;

$HIGHLIGHT: #ffd301;

$BORDER: #ebebeb;
$BT_RED: #bc3939;
$BT_WHITE: #f8f8f8;
$BT_SECONDARY: #e5e5f1;

$INPUT_GRAY: #f2f2f2;
