@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.placeWrap {
  position: relative;
  padding-bottom: 30px;

  .placeList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 20px;

    li {
      flex-basis: 150px;
      flex-grow: 1;

      button {
        margin: 0;
      }
    }
  }
}
